
@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=9b8eec84-1324-4149-bc3c-6815ab1c7106&fontids=722105,722108,722117,722120,722129,722132,722141");
@font-face{
font-family:"FrutigerLTW01-45Light";
src:url("/fonts/722105/7d3671fc-8c26-459c-98e1-997c4f6c8c93.eot?#iefix");
src:url("/fonts/722105/7d3671fc-8c26-459c-98e1-997c4f6c8c93.eot?#iefix") format("eot"),url("/fonts/722105/2a004a53-ac5c-43b3-9eeb-9f74ae4c1609.woff") format("woff"),url("/fonts/722105/74d53f3b-1683-4d5a-a556-e13f6553cdf0.ttf") format("truetype"),url("/fonts/722105/3f5a5b87-e71e-4544-be0c-da4daa132710.svg#3f5a5b87-e71e-4544-be0c-da4daa132710") format("svg");
}
@font-face{
font-family:"FrutigerLTW01-46LightIt";
src:url("/fonts/722108/072713ba-cb3a-4522-8f3b-b120f8eae10f.eot?#iefix");
src:url("/fonts/722108/072713ba-cb3a-4522-8f3b-b120f8eae10f.eot?#iefix") format("eot"),url("/fonts/722108/8259f047-a5d2-40a0-a98c-1c24f0316b08.woff") format("woff"),url("/fonts/722108/1078a920-3def-4194-ba69-46751fb9af38.ttf") format("truetype"),url("/fonts/722108/4c72fb1e-e1b0-4a18-91cc-5dbe2faaf2a3.svg#4c72fb1e-e1b0-4a18-91cc-5dbe2faaf2a3") format("svg");
}
@font-face{
font-family:"FrutigerLTW01-55Roman";
src:url("/fonts/722117/af97a512-f55a-4f61-b2ce-659c883930fc.eot?#iefix");
src:url("/fonts/722117/af97a512-f55a-4f61-b2ce-659c883930fc.eot?#iefix") format("eot"),url("/fonts/722117/3fbbd6b1-cfa7-4ff0-97ea-af1b2c489f15.woff") format("woff"),url("/fonts/722117/076311f8-a01b-4389-a5eb-334a62e62d45.ttf") format("truetype"),url("/fonts/722117/c59a36ab-4ef8-4ee1-a2f8-48aa79d4f877.svg#c59a36ab-4ef8-4ee1-a2f8-48aa79d4f877") format("svg");
}
@font-face{
font-family:"FrutigerLTW01-56Italic";
src:url("/fonts/722120/fcbab1a3-9659-4b39-8479-cc1f50d18f55.eot?#iefix");
src:url("/fonts/722120/fcbab1a3-9659-4b39-8479-cc1f50d18f55.eot?#iefix") format("eot"),url("/fonts/722120/e2ade8a9-bd48-45e7-95e6-9dc917ba4f74.woff") format("woff"),url("/fonts/722120/19fe9614-8825-4e7d-b8c3-230d2561e0e2.ttf") format("truetype"),url("/fonts/722120/c2f8e3aa-1c1a-49ee-9ec7-30f61a5e96d3.svg#c2f8e3aa-1c1a-49ee-9ec7-30f61a5e96d3") format("svg");
}
@font-face{
font-family:"Frutiger LT W01 65 Bold";
src:url("/fonts/722129/fbd7c0fb-f004-4e83-81d2-1d400413a873.eot?#iefix");
src:url("/fonts/722129/fbd7c0fb-f004-4e83-81d2-1d400413a873.eot?#iefix") format("eot"),url("/fonts/722129/9aa32a81-1124-4c43-b3db-15bfb1f7aed2.woff") format("woff"),url("/fonts/722129/6faffbf4-f8e8-4817-b24b-a390e166be7e.ttf") format("truetype"),url("/fonts/722129/fc09de64-de25-425e-90dc-a0cae29b02c4.svg#fc09de64-de25-425e-90dc-a0cae29b02c4") format("svg");
}
@font-face{
font-family:"FrutigerLTW01-66BoldIta";
src:url("/fonts/722132/f334dc11-1de8-4ae2-9c2a-a1cfa665263b.eot?#iefix");
src:url("/fonts/722132/f334dc11-1de8-4ae2-9c2a-a1cfa665263b.eot?#iefix") format("eot"),url("/fonts/722132/f74530f5-a39c-47e3-97d9-6821fc4df8c0.woff") format("woff"),url("/fonts/722132/aa626e7f-57dd-4084-9486-3eeb921333c0.ttf") format("truetype"),url("/fonts/722132/8f91ebb0-2b00-4a50-baa9-865a6502384e.svg#8f91ebb0-2b00-4a50-baa9-865a6502384e") format("svg");
}
@font-face{
font-family:"FrutigerLTW01-75Black";
src:url("/fonts/722141/9b0d3be7-4ec5-4a72-8cc6-89b8b0f0b193.eot?#iefix");
src:url("/fonts/722141/9b0d3be7-4ec5-4a72-8cc6-89b8b0f0b193.eot?#iefix") format("eot"),url("/fonts/722141/70ad2f15-9e1e-4a42-8fdc-30327ef510c3.woff") format("woff"),url("/fonts/722141/ed897ec7-c1b8-4bd4-9d2a-0a7b09661bdc.ttf") format("truetype"),url("/fonts/722141/63e3258b-8e81-4153-ba11-ab8f4b2aa7a3.svg#63e3258b-8e81-4153-ba11-ab8f4b2aa7a3") format("svg");
}
