#footer {
  bottom: 0;
  height: 77px;
  left: 0;
  position: fixed;
  width: 100%;
}

html, body {
  font-family: "FrutigerLTW01-45Light", sans-serif;
  margin: 0;
  padding: 0;
  color: #363948;
  -webkit-font-smoothing: antialiased;
}

#actual_goose {
  display: none;
}

#splash .hero {
  background: #484a59;
  padding-top: 10px;
}

#splash .hero {
  color: white;
}

.container {
  margin: 0;
  width: 248px;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #363948;
  -webkit-font-smoothing: antialiased;
  padding: 50px 65px;
  pointer-events: none;
}

.container .description h1{
  font-size: 41px;
  font-family:"Frutiger LT W01 65 Bold";
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container .description h2{
  font-size: 22px;
  font-family:"FrutigerLTW01-45Light";
  color: white;
  line-height: 36px;
}


.container .description p{
  font-size: 14px;
  font-family:"FrutigerLTW01-45Light";
  color: white;
  line-height: 29px;
}

.container .description .tip{
  color: #3fa9f5;
}

.connect {
  font-size: 14px;
  font-family:"Frutiger LT W01 65 Bold";
  color: white;
  line-height: 36px;
  position: absolute;
  -webkit-font-smoothing: antialiased;
  background-color: #3fa9f5;
  padding: 8px 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  left: 63px;
  bottom: 45px;
}


#splash .wistia_embed {
}

#ornamental_header {
  background: #363948;
  height: 10px;
}

#header {
  border-bottom: 1px solid #363948;
  height: 120px;
  position: relative;
}

#header .left_col {
  display: inline-block;
  *display: inline;
  height: 100%;
  position: relative;
  vertical-align: top;
  width: 270px;
  zoom: 1;
}

#header .logo {
  position: absolute;
  left: 36px;
  top: 27px;
  z-index: 2;
  -webkit-transition: all 1s linear;
  -webkit-transform: rotate(0deg), translate(0px,0px);
}

img.walking-goose {
  position: absolute;
  left: 12px;
  top: 3px;
  display: none;
  -webkit-transition: all 7s linear;
}
img.goose-ring {
  position: absolute;
  left: 36px;
  top: 27px;
  display: none;
  z-index: 1;
}

#header .right_col {
  display: inline-block;
  *display: inline;
  height: 100%;
  position: relative;
  vertical-align: top;
  width: calc(100% - 270px);
  zoom: 1;
}

#header #breadcrumb {
  font-size: 16px;
  font-weight: bold;
  margin-top: 74px;
}

#header #breadcrumb ul {
  list-style-type: none;
  padding-left: 0;
}

#header #breadcrumb ul li {
  display: inline-block;
  cursor: pointer
}

#header #breadcrumb ul li:not(:first-child):before {
  content: "»";
  padding: 0 10px;
}

#search_form {
  display: none;
  position: absolute;
  right: 36px;
  top: 71px;
}

#body {
  height: 100%;
}

#body .nav_col {
  border-right: 1px solid #363948;
  display: inline-block;
  *display: inline;
  height: 100%;
  position: relative;
  vertical-align: top;
  width: 255px;
  zoom: 1;
  padding-left: 15px;
}

.nav_col ul {
  height: calc(100% - 123px);
  list-style-type: none;
  margin: 0;
  overflow-y: auto;
  padding: 36px 0 0 0;
}

.nav_col li {
  line-height: 1.4em;
  padding: 0 0 0 45px;
  cursor: pointer;
}
.nav_col li:before {
  content: "";
}

.nav_col .folder:hover,
.nav_col .file:hover {
  background-color: #363948;
}

.nav_col .folder:hover a,
.nav_col .file:hover a{
  color: white;
}


.nav_col a {
  color: #363948;
  display: block;
  padding: 16px 0;
  text-decoration: none;
}

.nav_col .folder {
  background: transparent url(images/folder.png) no-repeat 17px;
}

.nav_col .file {
  background: transparent url(images/file.png) no-repeat 17px;
}

#body .content_col {
  display: inline-block;
  *display: inline;
  height: 100%;
  position: relative;
  vertical-align: top;
  width: calc(100% - 271px);
  zoom: 1;
  -webkit-transition: width 0.2s linear;
  -moz-transition: width 0.2s linear;
  -o-transition: width 0.2s linear;
  transition: width 0.2s linear;
}

.content_col .fullscreen {
  position: absolute;
  right: 36px;
  top: 38px;
}

#footer .left_actions {
  bottom: 32px;
  position: absolute;
  left: 30px;
}

#footer .right_actions {
  bottom: 32px;
  position: absolute;
  right: 36px;
}

#footer .right_actions .action {
  margin-left: 26px;
}

.action {
  color: #363948;
  cursor: pointer;
  text-decoration: none;
}

.icon {
  background: red;
  color: #fff;
  display: inline-block;
  *display: inline;
  height: 15px;
  overflow: hidden;
  position: relative;
  top: 1px;
  text-indent: 100%;
  vertical-align: top;
  width: 16px;
  zoom: 1;
  margin: 0 4px 0 15px;
}

.fullscreen_icon {
  background: transparent url(images/full-screen.png) no-repeat 0 0;
  height: 13px;
  top: 3px;
  width: 14px;
}

.in_fullscreen .fullscreen_icon {
  background-image: url(images/small-screen.png);
  height: 19px;
  width: 20px;
}

a.delete {
  display: none;
}

.new_file_icon {
  background: transparent url(images/new.png) no-repeat 0 0;
  width: 14px;
}

.delete_icon {
  background: transparent url(images/delete.png) no-repeat 0 0;
  height: 13px;
  top: 2px;
  width: 11px;
}

.edit_icon {
  background: transparent url(images/edit.png) no-repeat 0 0;
  width: 15px;
}

.save_icon {
  background: transparent url(images/edit.png) no-repeat 0 0;
  width: 15px;
}

.magnifying_glass_icon {
  background: transparent url(images/search.png) no-repeat 0 0;
  height: 17px;
  width: 17px;
}

.new_folder_icon {
  background: transparent;
  height: 17px;
  width: 17px;
  display: none;
}

.cancel_icon {
  background: transparent url(images/cancel.png) no-repeat 0 0;
  height: 17px;
  width: 17px;
}

#preview {
  min-width: 300px;
  padding: 36px;
}

.in_fullscreen #body .content_col {
  width: 100%;
}

#preview > *:first-child {
  margin-top: 0;
}

#content {
  padding: 36px;
}
